<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
        bootstrap="./tests/bootstrap.php">
    <testsuite name="Midnight\Page">
        <directory suffix=".php">./tests/MidnightTest/</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./src/Util/Urlizer.php</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
